@{
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<div style="margin-top: 11%; margin-left: 20%;">
    @using (Html.BeginForm("GetStatistics", "Parent", FormMethod.Post))
    {
        <div style="padding-bottom: 25px;"><p>@Html.ActionLink("Рейтинг учеников в классе", "ClassRating", "Parent", new { @class = "itemSt" })</p></div>
        <div style="padding-bottom: 25px;"><p>@Html.ActionLink("Рейтинг классов в школе", "RatingOfClasses", "Parent", new { @class = "itemSt" })</p></div>
        <div style="padding-bottom: 25px;"><p>@Html.ActionLink("Наполняемость классов в школе", "GetClassesFillability", "Parent", new { @class = "itemSt" })</p></div>
        <div style="padding-bottom: 25px;"><p>@Html.ActionLink("Посещаемость предметов в школе", "LessonAttendence", "Parent", new { @class = "itemSt" }) </p></div>
        <div style="padding-bottom: 25px;"><p>@Html.ActionLink("Статистика об успеваемости школы", "SchoolMarksStatistic", "Parent", new { @class = "itemSt" })</p></div>
    }
</div>
