@model ElectronicJournnal.Models.PupilFullInformation

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 7%; margin-left: 30%; font-family: Calibri, sans-serif; font-size: 23px; ">
    @using (Html.BeginForm("SavePupilInformation", "Teacher", FormMethod.Post, new { @class = "addForm" }))
    {
        <h2 style="font-size: 30px; margin-top: 15px; margin-left: 60px;">Редактирование информации</h2>
        @Html.HiddenFor(p => p.Pupil_ID)
        <p>Имя: @Html.TextBoxFor(p => p.Name, Model.Name, new { @class = "inp" })</p>
        <p>Фамилия: @Html.TextBoxFor(p => p.Surname, Model.Surname, new { @class = "inp" })</p>
        <p>Отчество: @Html.TextBoxFor(p => p.Patronymic, Model.Patronymic, new { @class = "inp" })</p>
        <p>Класс: @Html.DropDownListFor(p => p.Class, ViewBag.Classes as SelectList, Model.Class, new { @class = "imputSelect" })</p>
        <p>Дата рождения: <input type="date" name="Date_Of_Birth" value=@Model.Date_Of_Birth.ToString("yyyy-MM-dd") class="inpDate" style="width: 150px;"></p>
        <p>Телефон одного из родителей: @Html.TextBoxFor(p => p.Parent_Phone_Number, Model.Parent_Phone_Number, new { @class = "inp" })</p>
        <p>Телефон ученика: @Html.TextBoxFor(p => p.Pupil_Phone_Number, Model.Pupil_Phone_Number, new { @class = "inp" })</p>
        <p>Адресс: @Html.TextBoxFor(p => p.Address, Model.Address, new { @class = "inpLong" })</p>

        <button name="action" value="@Model.Pupil_ID" class="img" style="margin-left: 175px;"><img src="~/Images/save.png" width="60" height="60" /></button>
        <button name="cancel" value="cancel" class="img"><img src="~/Images/exit.png" width="65" height="65" /></button>
    }
</div>

