@model ElectronicJournnal.Models.MarkFullInf

@using (Html.BeginForm("ViewMarkInfo", "Teacher", FormMethod.Post))
{
    <div>
        <p>Ученик: @Model.Pupil_Surname @Model.Pupil_Name @Model.Pupil_Patonymic</p>
        <p>Учитель: @Model.Teacher_Surname @Model.Teacher_Name @Model.Teacher_Patonymic</p>
        <p>Предмет: @Model.Subject_Name</p>
        <p>Тип работы: @Model.TypeOfWork_Name</p>
        <p>Дата: @Model.Date.ToLongDateString()</p>
        <p>Оценка: @Model.Mark</p>

        <button name="delete" value=@Model.Mark_ID > Удалить </button>
    </div>
}

