<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="@Url.Content("~/Content/StyleSheet7.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>

<body>
    <div class="menu">
        @*<a href="Home/Index" class="Journal">Electronic journal</a>*@
        @Html.ActionLink("Electronic journal", "Index", "Home", new { }, new { @class = "Journal" })
        @Html.ActionLink("Просмотр и управление информацией", "ManageInformation", "Teacher", new { }, new { @class = "menuItem"})
        @Html.ActionLink("Статистика", "GetStatistics", "Teacher", new { }, new { @class = "menuItem" })
        @Html.ActionLink("Рассылка", "MailMerge", "Teacher", new { }, new { @class = "menuItem" })
    </div>
        @RenderBody()
    @*<div class="MyFooter">
            <ul class="foot">
                <li> Produced by Polina Bilous </li>
                <li> Email: polina.bilous@nure.ua </li>
            </ul>
        </div>*@
</body>
</html>

<script type="text/javascript">
 $(document).ready(function(){
    $("#menu").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top - 280;
        $('body,html').animate({scrollTop: top}, 700);
    });
});
</script>

<script type="text/javascript">
 $(document).ready(function(){
    $("#teach").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top - 120;
        $('body,html').animate({scrollTop: top}, 900);
    });
});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#par").on("click", "a", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({ scrollTop: top }, 900);
        });
    });
</script>

